.beijing {
  background: url("../img/background.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.yun {
  position: absolute;
  top: 7%;
  animation:yun 4s infinite linear;
}

.che {
  position: absolute;
  bottom: 17%;
  animation:che 12s infinite linear;
}

.lunzi-1 {
  position: absolute;
  bottom: 0;
  left: 13%;
  animation:lunzi 2.5s infinite linear;
}

.lunzi-2 {
  position: absolute;
  bottom: 0;
  left: 67%;
  animation:lunzi 2.5s infinite linear;
}

@keyframes yun {
  0% {
    left: -5%;
  }
  100%{
    left: 75%;
    opacity: 0;
  }
}
@keyframes lunzi {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes che {
  0% {
   left: -15%;
  }
  100%{
    left: 280%;
  }
}