/*---------通用样式-------*/
body,ul,li,h1,h3,p,h2,hr{
	margin:0;
	padding:0;
}
.header,.banner,.containt,.footer{
	margin:0px auto;
	width:958px;
}
.clearfix:before,/*-------解决父级元素高度塌陷问题------*/
.clearfix:after{
	content:" ";
	display:table;
	clear:both;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
.warpar{
	background-image: url(../images/warpar.png);
	background-size: 100% 100%;
}
.header li,.logo,.header ul,.banner ul li,.img1,.img4,.img3,.design,.web,.branding,.contact,.why{
	float: left;
}
/*---------通用样式-------*/


.logo{
	padding-top: 75px;
	width: 169px;
}
.header a{
	font-family: Baskerville Old Face;
	font-size: 15px;
	color: #fff;
}
.header ul{
	width: 534px;
	margin-top: 100px;
	margin-left: 255px;
}
.btn1,.btn2,.btn3,.btn4{
	margin-right: 47px;
}
.header a:hover{
	color: #75bb3a;
}



.banner p{
	font-family: Baskerville Old Face;
	font-size: 11px;
	text-align: right;
	color: #045a77;
	margin-top: 19px;
}
.img1{
	width: 216px;
	margin-right: 21px;
}
.img2{
	width: 640px;
}
.img3{
	width: 57px;
}
.img1,.img2 img{
	border:10px #031822 solid;
}
.img2 li{
	margin-right: 21px;
}
.img4,.img1,.img3{
	margin-top: 28px;
}



.text1{
	font-family: Baskerville Old Face;
	font-size: 20px;
	color: #c7cfd3;
}
.containt{
	margin-top: 40px;
}
.containt h1{
	font-size: 18px;
	font-family: Baskerville Old Face;
	margin-bottom: 14px;
}
.design p,.web p,.branding p,.why p,.why li,.footer p{
	font-family: Baskerville Old Face;
	font-size: 14px;
	line-height: 1rem;
	color:#c7cfd3;
}
.design,.web,.branding{
	width: 287px;
	margin-top:40px;
	margin-bottom: 45px;
}
.design,.web{
	margin-right: 43px;
}

.why{
	width: 612px;
	margin-right: 17px;
}
.btn5{
	list-style: url(../images/btn5_03.png);
}
.btn6{
	list-style: url(../images/btn6_03.png);
}
.btn7{
	list-style: url(../images/btn7_03.png);
}
.btn8{
	list-style: url(../images/btn8_03.png);
}
.btn9{
	list-style: url(../images/btn9_03.png);
}
.why ul{
	width: 166px;
	float: left;
}
.why li{
	margin-bottom: 2px;
}
input{
	width: 295px;
	height: 30px;
	background-color: #031924;
	border:0px;
	padding-left: 10px;
	color: #fff;
	margin-bottom: 15px;
}
textarea{
	width: 295px;
	height: 91px;
	background-color: #031924;
	border:0px;
	padding-left: 10px;	
	color: #fff;
}
.contact{
	width: 325px;
}


.footer li{
	float: left;
	font-family: Baskerville Old Face;
	font-size: 10px;
	color: #fff;
}
.footer{
	padding-bottom: 71px;
}