*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes shark {
    0%{
        margin: 0;
    }
    10%{
        margin: -30px 0px 0px -30px;
    }
    20%{
        margin: -30px -30px 0 0;
    }
    30%{
        margin: 0 -30px -30px 0;
    }
    40%{
        margin: 0 0 -30px -30px;
    }
    50%{
        margin: 0 0 -30px -30px;
    }
    60%{
        margin: -10px 0 0 -10px;
    }
    70%{
        margin: -10px -10px 0 0;
    }
    80%{
        margin: 0 -10px -10px 0;
    }
    90%{
        margin: 0 0 -10px -10px;
    }
}
html{
    /*animation:shark 10s;*/
    overflow-x: hidden;
}
#banner{
    background: url("../images/bg1.jpg") no-repeat center;
    height: 500px;
    background-color: black;
    color: #ffffff;
    font-size: 20px;
}
#banner .center{
    text-align: center;
    padding: 100px 0px;
}
#banner .title{
    margin-bottom: 50px;
}
#banner .title p{
    margin-bottom: 20px;
}
#banner .title .text{
    position: relative;
    height: 72px;
    margin: auto;
    margin-bottom: 20px;
    opacity: 0;
}
#banner .title .text div{
    background: url(../images/text_left.png) no-repeat;
    width: 200px;
    height: 72px;
    position: absolute;
}
#banner .title div:nth-of-type(2){
    background: url(../images/text_right.png);
    right: 0;
}
#banner .btn{

}
#banner .btn a{
    background-color: #08b573;
    color: #ffffff;
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
}
#banner .btn a:nth-of-type(2){
    animation:color 5s infinite;
}
@keyframes color {
    0%{
        background-color: red;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: #b60202;
    }
}



