ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.swiper-paginatio{
  position: absolute;
  text-align: center;
  z-index: 10;
}

footer {
  .back-1 {
    background-color: #ffffff;
    padding: 10px;
    span {
      font-size: 20px;
      color: #00c3f5;
    }
    .btn1 {
      background-color: rgba(0, 195, 245, 0.63);
      color: #ffffff;
      margin-top: 10px;
      width: 95px;
      i {
        background: url("../img/x3.png");
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }
  }
  .btn-group, .dropdown-toggle, .dropdown-menu {
    width: 100%;
  }
  .dropdown-toggle {
    text-align: left;
    padding: 20px;
    font-size: 16px;
    border: 0;
    margin-top: 5px;
  }
  .caret {
    float: right;
    margin-top: 10px;
  }

  .yuyan {
    background-color: #fff;
    padding: 20px;
    .btn-group {
      width: auto;
    }
    .dropdown-toggle {
      padding: 5px;
      font-size: 12px;
      margin-top: 0;
      i {
        background: url("../img/img24.png");
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: 100% 100%;
        vertical-align: middle;
        margin-right: 5px;
      }
      span {
        margin-right: 5px;
      }
    }
    a {
      margin-right: 10px;
    }
    ul {
      li {
        border-top: 1px solid #ebebeb;
        padding: 5px;
        i {
          background: url("../img/img24.png");
          display: inline-block;
          width: 18px;
          height: 18px;
          background-size: 100% 100%;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
  .text {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0;
    color: #999;
  }
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

nav {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  transition: 0.7s;
  .navbar-nav{
    margin-top: 0;
  }
  .navbar-brand {
    width: 200px;
    padding: 20px;
    height: auto;
    img {
      width: 40%;
    }
  }
  .navbar-collapse {
    background-color: #ffffff;
  }
}

.dingbu{
  background-color: rgba(0,0,0,.3);
  width: 37px;
  height:37px;
  position: fixed;
  bottom: 60px;
  right: 10px;
  display: none;
  img{
    width: 100%;
  }
}

.index {
  background-color: #e8e8e8;
  .banner {
    .swiper-container {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        display: block;
      }
    }
  }

  main {
    .img-1 {
      position: relative;
      margin-top: 15px;
      .img1 {
        width: 100%;
      }
      a {
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 33%;
        left: 50%;
        margin-left: -40px;
        color: #fff;
        img {
          width: 60%;
        }
        span {
          margin-top: 20px;
          display: block;
        }
      }
    }

    .img-2 {
      position: relative;
      margin-top: 15px;
      .img2 {
        width: 100%;
      }
      a {
        color: #fff;
        position: absolute;
        bottom: 10%;
        left: 50%;
        margin-left: -40px;
      }
    }

    .img-3 {
      position: relative;
      margin-top: 15px;
      .img3 {
        width: 100%;
      }
      a {
        color: #fff;
        position: absolute;
        bottom: 10%;
        left: 50%;
        margin-left: -40px;
      }
    }

    .img-4 {
      position: relative;
      margin-top: 15px;
      .img4 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -66px;
        text-align: center;
      }
    }

    .img-5 {
      position: relative;
      margin-top: 15px;
      .img5 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -50px;
        text-align: center;
      }
    }

    .img-6 {
      position: relative;
      margin-top: 15px;
      .img6 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -42px;
        text-align: center;
      }
    }

    .img-7 {
      position: relative;
      margin-top: 15px;
      .img7 {
        width: 100%;
      }
    }

    .img-8 {
      position: relative;
      margin-top: 15px;
      .img8 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        top: -4%;
        left: 50%;
        margin-left: -90px;
        text-align: center;
      }
    }

    .img-9 {
      position: relative;
      margin-top: 15px;
      .img9 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        top: -4%;
        left: 50%;
        margin-left: -66px;
        text-align: center;
      }
    }

    .img-10 {
      position: relative;
      margin-top: 15px;
      .img10 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        top: -4%;
        left: 50%;
        margin-left: -52px;
        text-align: center;
      }
    }

    .img-11 {
      position: relative;
      margin-top: 15px;
      .img11 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        top: -4%;
        left: 50%;
        margin-left: -30px;
        text-align: center;
      }
    }

    .img-12 {
      position: relative;
      margin-top: 15px;
      .img12 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -47px;
        text-align: center;
      }
    }

    .img-13 {
      position: relative;
      margin-top: 15px;
      .img13 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -52px;
        text-align: center;
      }
    }

    .img-14 {
      position: relative;
      margin-top: 15px;
      .img14 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -30px;
        text-align: center;
      }
    }

    .img-15 {
      position: relative;
      margin-top: 15px;
      .img15 {
        width: 100%;
      }
      a {
        color: #929292;
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -56px;
        text-align: center;
      }
    }
    small {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .zhuiqiu {
      img {
        width: 100%;
      }
      span:nth-of-type(2) {
        background: url("../img/x1.jpg") no-repeat;
        background-position: left center;
        padding-left: 25px;
      }
      span:nth-of-type(3) {
        background: url("../img/x2.jpg") no-repeat;
        background-position: left center;
        padding-left: 25px;
      }
      .back-1 {
        background-color: #fff;
        padding: 20px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
        img {
          border-radius: 40px;
          margin-top: 10px;
        }
      }
    }
    .fanhui {
      padding: 20px;
      text-align: center;
    }
  }
}

.list {
  background-color: #e8e8e8;
  .banner {
    img {
      width: 100%;
    }
  }

  .main {
    margin-bottom: 10px;
    ul {
      li {
        text-align: center;
        padding: 50px 0;
        background-color: #fff;
        margin-top: 10px;
        p {
          margin-top: 10px;
          color: #999;
        }
        img:nth-of-type(1) {
          width: 15%;
        }
        img:nth-of-type(2) {
          width: 42%;
        }
      }
    }
  }
  .container {
    .col-xs-6 {
      padding-right: 1px;
      padding-left: 1px;
      .back {
        background-color: #fff;
        margin-top: 2px;
        img {
          width: 100%;
        }
      }
    }
  }
}

.shop {
  background-color: #e8e8e8;
  .banner {
    background: url("../img/img56.jpg");
    height: 512px;
    background-size: 100%;
    text-align: center;
    padding-top: 100px;
    img {
      width: 28%;
    }
    h1 {
      color: #fff;
    }
    p {
      margin-bottom: 0;
    }
    p:nth-of-type(1) {
      color: #fff;
    }
    p:nth-of-type(2) {
      color: #fff;
    }
    p:nth-of-type(3) {
      font-size: 30px;
      color: #28a2fe;
      span {
        font-size: 16px;
      }
    }
    p:nth-of-type(4) {
      .btn-default {
        background-color: #28a2fe;
        color: #fff;
        border: 0;
        margin-left: 5px;
        margin-right: 5px;
      }
      .btn-default:active {
        background-color: #28a2fe;
        color: #fff;
        border: 0;
      }
    }
  }

  .shipin {
    ul {
      li:nth-of-type(1) {
        background: url("../img/img58.jpg");
        height: 156px;
        background-size: 100%;
        margin-top: 10px;
        a {
          display: block;
          padding-top: 60px;
          text-align: center;
          img {
            width: 30px;
            height: 30px;
          }
          span {
            font-size: 20px;
            color: #fff;
            vertical-align: middle
          }
        }
      }
      li:nth-of-type(2) {
        background: url("../img/img59.jpg");
        height: 244px;
        background-size: 100%;
        text-align: center;
        color: #fff;
        margin-top: 10px;
        h2 {
          padding-top: 50px;
          margin: 0;
          padding-bottom: 10px;
        }
        p {
          padding-bottom: 10px;
        }
        .btn-default {
          background-color: rgba(255, 255, 255, 0);
          color: #fff;
        }
      }
    }
  }

  .main {
    .lunbo1 {
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      .lunbo1-header {
        text-align: center;
        color: #28a2fe;
        img {
          width: 10%;
        }
      }
      .swiper-wrapper {
        div {
          padding: 10px 50px 50px 50px;
        }
      }
    }

    .main-img1 {
      margin: 20px;
      img {
        width: 100%;
      }
    }

    .main-img2 {
      position: relative;
      img {
        width: 100%;
      }
      div {
        position: absolute;
        top: 47%;
        left: 50%;
        margin-left: -90px;
      }
      a {
        display: block;
        font-size: 18px;
        color: #fff;
        text-align: center;
      }
    }

    .main-img3 {
      position: relative;
      background-color: #fff;
      h3 {
        color: #333;
        font-size: 24px;
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 0;
      }
      ul {
        width: 50%;
        float: left;
        li {
          width: 100%;
          padding: 5px;
          img {
            width: 100%;
          }
        }
        .jia {
          display: none;
        }
      }
      .gengduo {
        background-color: rgba(255, 255, 255, 0.81);
        padding: 10px;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }

    .lunbo2 {
      img {
        width: 100%;
        height: 365px;
      }
    }

    .peijian {
      background-color: #373a43;
      padding: 20px 20px 40px 20px;
      .peijian-1, .peijian-2 {
        position: relative;
        margin-top: 20px;
      }
      h3 {
        color: #fff;
        margin-bottom: 20px;
        margin-top: 10px;
      }
      img {
        width: 100%;
      }
      h4 {
        position: absolute;
        top: 15%;
        left: 7%;
        color: #fff;
        line-height: 3rem;
        small {
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 320px) {
    .main {
      .lunbo1 {
        .swiper-wrapper {
          div {
            padding: 10px 20px 25px 20px;
          }
        }
      }
      .lunbo2 {
        img {
          width: 100%;
          height: 310px;
        }
      }
    }
  }
}

.xiangqing {
  position: relative;
  .header{
    background-color: rgba(255, 255, 255, 0);
    a{
      font-size: 30px;
     padding: 10px;
      width: 20%;
      text-align: center;
      color: #000;
    }
    p{
      width: 60%;
      float: left;
      font-size: 20px;
      margin: 0;
      text-align: center;
      padding-top: 12px;
      display: none;
    }
    a:nth-of-type(1){
      float: left;
    }
    a:nth-of-type(2){
      float: right;
    }
  }
  .banner {
    border-bottom: 1px #eee solid;
    img {
      width: 90%;
    }
    .swiper-wrapper{
      div{
        padding: 20px;
        text-align: center;
      }
    }
  }
  .jiaqian{
    padding: 10px;
    h3{
      font-size: 18px;
      margin-top: 10px;
    }
    p:nth-of-type(1){
      font-size: 16px;
      font-weight: 600;
    }
    p{
      color: red;
      margin-bottom: 5px;
    }
  }
  .fenqi{
    border-top: 1px #eee solid;
    padding: 10px;
    span{
      font-size: 12px;
      color: #999;
      img{
        width: 20px;
        height:20px;
      }
    }
    i{
      float: right;
      margin-right: 10px;
    }
  }
  .yixuan{
    padding: 10px;
    border-top: 8px #eee solid;
    span:nth-of-type(1){
      font-size: 13px;
      color: #999;
    }
    i{
      float: right;
      margin-right: 10px;
    }
  }
  .peisong{
    padding: 10px;
    border-top: 8px #eee solid;
    form{
      display: inline-block;
      margin-left: 30px;
      select{
        height:20px;
        border:0;
      }
    }
    i{
      float: right;
      margin-right: 10px;
    }
    p{
      border-top: 2px #eee solid;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
  .tuijian{
    padding: 10px;
    border-top: 8px #eee solid;
    .swiper-containe{
      overflow: hidden;
      img{
        width: 100%;
        margin-bottom: 10px;
      }
      p{
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .xuanxiangka{
    padding-bottom: 40px;
    margin-top: 17px;
    ul{
      top:58px;
      .selected{
        a{
          color: #00c3f5;
        }
      }
      li{
        float: left;
        width: 33.3333%;
        .btn-default{
          width: 100%;
          border: 0;
        }
        .btn-default:active,.btn-default:hover{
          background-color: #ffffff;
          color: #00c3f5;
        }
      }
    }
    .xuanxuangka-1{
      img{
        width: 100%;
      }
    }
    .xuanxiangka-2{
      display: none;
      font-size: 12px;
      .back{
        background-color: #f5f5f5;
        th{
          padding: 10px;
        }
      }
      th{
        padding: 10px;
      }
      tr{
        border-top: 1px #eee solid;
        td{
          padding: 10px;
          padding-left: 30px;
        }
      }
    }
    .xuanxiangka-3{
      display: none;
      div{
        padding: 10px;
        p{
          position: relative;
          color: #00c3f5;
          padding-left: 40px;
        }
        p:after {
          content: "Q:";
          position: absolute;
          left: .20833rem;
          top: 0;
        }
        span{
          position: relative;
          padding-left: 40px;
          display: block;
          font-size: 12px;
        }
        span:after {
          content: "A:";
          position: absolute;
          left: .20833rem;
          top: 0;
        }
      }
    }
  }
  .footer{
    background-color: #fff;
    display: flex;
    div:nth-of-type(1),div:nth-of-type(2),div:nth-of-type(3){
      flex: 1;
      text-align: center;
      p{
        margin: 0;
      }
    }
    div:nth-of-type(4),div:nth-of-type(5){
      flex: 2;
      text-align: center;
      line-height: 3rem;
      font-size: 12px;
      a{
        color: #fff;
      }
    }
    div:nth-of-type(4){
      background-color: #00c3f5;
    }
    div:nth-of-type(5){
      background-color: #f0415f;
    }
  }
}