<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>魅族官网-魅族智能手机官方网站</title>
    <meta name="description" content="魅族官网提供魅族 PRO 系列、MX 系列、魅族配件系列产品的预约和购买。提供最新魅族产品资讯、完善的售后服务、社区在线交流、手机固件/应用下载。">
    <meta name="keywords" content="魅族官网、meizu、魅族官方网站、魅族智能手机、魅族配件、魅族PRO 7 Plus、魅族PRO 7、魅族 PRO 6 Plus、魅族 PRO 6">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//cdn.bootcss.com/Swiper/4.0.7/css/swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body class="index">

<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper" v-for="banne in banner">
            <div class="swiper-slide"><img :src="banne.img1" alt=""></div>
            <div class="swiper-slide"><img :src="banne.img2" alt=""></div>
            <div class="swiper-slide"><img :src="banne.img3" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-paginatio"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">魅族手机</a></li>
                <li><a href="list.html">魅蓝手机</a></li>
                <li><a href="#">服务</a></li>
                <li><a href="#">专卖店</a></li>
                <li><a href="#">Flyme</a></li>
                <li><a href="#">社区</a></li>
                <li><a href="#">商城</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<main>
    <ul>
        <li v-for="ma1 in main1" :class="ma1.class">
            <img :src="ma1.img" alt="" :class="ma1.class1">
            <a :href="ma1.a">
                <img :src="ma1.img1" alt="">
                <br>
                <p>{{ma1.span}}</p>
                <p>{{ma1.span1}}</p>
            </a>
        </li>
    </ul>

    <h3 class="text-center">{{h31}}</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-6" v-for="ma2 in main2">
                <div :class="ma2.class">
                    <img :src="ma2.img" alt="" :class="ma2.class1">
                    <a href="">
                        <p>{{ma2.span}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center">{{h32}}</h3>
    <small class="text-center" v-for="sma in small">{{sma.smal}}<a href="">{{sma.a}}</a></small>

    <div class="zhuiqiu">
        <div class="container">
            <div class="row" v-for="ma3 in main3">
                <div class="col-xs-12">
                    <img :src="ma3.img" alt="">
                    <div class="row back-1">
                        <div class="col-xs-2">
                            <img :src="ma3.img1" alt="">
                        </div>
                        <div class="col-xs-10">
                            <p>{{ma3.p}}</p>
                            <span>{{ma3.span1}}</span>
                            <span>{{ma3.span2}}</span>
                            <span>{{ma3.span3}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fanhui">
        返回顶部↑
    </div>
</main>

<footer>
    <div class="container">
        <div class="row back-1">
            <div class="col-xs-8">
                <p>24小时全国服务热线</p>
                <span>400-788-3333</span>
            </div>
            <div class="col-xs-4">
                <a class="btn btn-default btn1 navbar-right" href="#" role="button"><i></i>在线客服</a>
            </div>
        </div>
    </div>
    <!-- Single button -->
    <div class="btn-group" v-for="foot1 in footer1">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{foot1.btn1}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">{{foot1.li1}}</a></li>
            <li><a href="#">{{foot1.li2}}</a></li>
            <li><a href="#">{{foot1.li3}}</a></li>
            <li><a href="#">{{foot1.li4}}</a></li>
        </ul>
    </div>

    <div class="yuyan">
        <a href="">电脑版</a>
        <a href="">法律声明</a>
        <div class="btn-group dropup" v-for="foot2 in footer2">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i></i><span>{{foot2.span1}}</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li v-for="foot2 in footer2"><i></i>{{foot2.li1}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li2}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li3}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li4}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li5}}</li>
            </ul>
        </div>
    </div>
    <p class="text">粤ICP备13003602号-2合字B2-20170010营业执照©2017 MeizuAll rights reserved</p>
</footer>

<div class="dingbu">
    <img src="img/dingbu.png" alt="">
</div>

<!-- JavaScript -->
<script src="//cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/4.0.7/js/swiper.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>