<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>魅蓝青年良品 - 魅族官网</title>
    <meta name="description" content="魅族官网提供魅族 PRO 系列、MX 系列、魅族配件系列产品的预约和购买。提供最新魅族产品资讯、完善的售后服务、社区在线交流、手机固件/应用下载。">
    <meta name="keywords" content="魅族官网、meizu、魅族官方网站、魅族智能手机、魅族配件、魅族PRO 7 Plus、魅族PRO 7、魅族 PRO 6 Plus、魅族 PRO 6">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//cdn.bootcss.com/Swiper/4.0.7/css/swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body class="list">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">魅族手机</a></li>
                <li><a href="#">魅蓝手机</a></li>
                <li><a href="#">服务</a></li>
                <li><a href="#">专卖店</a></li>
                <li><a href="#">Flyme</a></li>
                <li><a href="#">社区</a></li>
                <li><a href="#">商城</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="banner">
    <a href="shop.html"><img src="img/img25.jpg" alt=""></a>
</div>

<div class="main">
    <ul>
        <li v-for="ma4 in main4">
            <img :src="ma4.img1" alt="">
            <p>{{ma4.p1}}</p>
            <p>{{ma4.p2}}</p>
            <img :src="ma4.img2" alt="">
        </li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-xs-6" v-for="ma5 in main5">
                <div :class="ma5.class"><img :src="ma5.img1" alt=""></div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row back-1">
            <div class="col-xs-8">
                <p>24小时全国服务热线</p>
                <span>400-788-3333</span>
            </div>
            <div class="col-xs-4">
                <a class="btn btn-default btn1 navbar-right" href="#" role="button"><i></i>在线客服</a>
            </div>
        </div>
    </div>
    <!-- Single button -->
    <div class="btn-group" v-for="foot1 in footer1">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{foot1.btn1}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">{{foot1.li1}}</a></li>
            <li><a href="#">{{foot1.li2}}</a></li>
            <li><a href="#">{{foot1.li3}}</a></li>
            <li><a href="#">{{foot1.li4}}</a></li>
        </ul>
    </div>

    <div class="yuyan">
        <a href="">电脑版</a>
        <a href="">法律声明</a>
        <div class="btn-group dropup" v-for="foot2 in footer2">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i></i><span>{{foot2.span1}}</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li v-for="foot2 in footer2"><i></i>{{foot2.li1}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li2}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li3}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li4}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li5}}</li>
            </ul>
        </div>
    </div>
    <p class="text">粤ICP备13003602号-2合字B2-20170010营业执照©2017 MeizuAll rights reserved</p>
</footer>

<div class="dingbu">
    <img src="img/dingbu.png" alt="">
</div>


<!-- JavaScript -->
<script src="//cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/4.0.7/js/swiper.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>