<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>【魅蓝 Note6 智能手机】首页 - 魅族官网</title>
    <meta name="description" content="魅蓝 Note6 - 疾速性能，疾速双摄。">
    <meta name="keywords" content="魅蓝 Note6 首页、魅蓝 Note6 图片、魅族官网、魅族商城、魅蓝青年良品">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//cdn.bootcss.com/Swiper/4.0.7/css/swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body class="shop">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">魅族手机</a></li>
                <li><a href="#">魅蓝手机</a></li>
                <li><a href="#">服务</a></li>
                <li><a href="#">专卖店</a></li>
                <li><a href="#">Flyme</a></li>
                <li><a href="#">社区</a></li>
                <li><a href="#">商城</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="banner">
    <img src="img/img57.png" alt="">
    <h1>疾速性能 疾速双摄</h1>
    <p>14nm 高通骁龙 4000mAh 快充电池</p>
    <p>1.4μm 双 PD 拍照更快更细腻</p>
    <p><span>￥</span>899 <span>起</span></p>
    <p>
        <a class="btn btn-default" type="submit" href="xiangqing.html">立即购买</a>
        <a class="btn btn-default" type="submit">了解详情</a>
    </p>
</div>

<div class="shipin">
    <ul>
        <li>
            <a href="">
                <img src="img/sp.png" alt="">
                <span>产品视频</span>
            </a>
        </li>
        <li>
            <h2>3000+</h2>
            <p>线下体验店同步开售</p>
            <button class="btn btn-default" type="submit">咨询专卖店</button>
        </li>
    </ul>
</div>

<div class="main">
    <div class="lunbo1">
        <div class="swiper-container">
            <div class="lunbo1-header">
                <img src="img/img60.png" alt="">
                媒体评价
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">拍照越级而立，彩蛋竟是高通</div>
                <div class="swiper-slide">魅蓝 Note6 的拍摄水平确实能达到旗舰机的水平，无论是实验室的棚拍环节还是实拍环节</div>
                <div class="swiper-slide">讲真，你还有其他千元双摄可以选择了吗？</div>
                <div class="swiper-slide">魅蓝首款双摄和高通处理器手机终于出现。我们原本以为这个名头会出现在旗舰产品上，但没想到却用在了“青年良品”系列，定价卡在了千元档。</div>
                <div class="swiper-slide">无论是设计也好还是性能也罢，魅蓝 Note6 都算是魅蓝自我认知的一次体现。</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-paginatio"></div>
        </div>
    </div>
    <div class="main-img1">
        <img src="img/img63.jpg" alt="">
    </div>
    <div class="main-img2">
        <img src="img/img64.jpg" alt="">
        <div>
            <a href="">魅蓝 Note6 新品发布会 <br>图文回顾</a>
        </div>
    </div>

    <div class="main-img3">
        <h3 class="text-center">魅蓝 Note6 样张</h3>
        <ul>
            <li v-for="ma6 in main6" :class="ma6.class"><img :src="ma6.img1" alt=""></li>
        </ul>
        <ul>
            <li v-for="ma7 in main7" :class="ma7.class"><img :src="ma7.img1" alt=""></li>
        </ul>
        <div class="clearfix"></div>
        <div class="gengduo">
            <a>更多样张<span class="caret"></span></a>
        </div>
    </div>

    <div class="lunbo2">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/img71.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/img72.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/img73.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/img74.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/img75.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/img76.jpg" alt=""></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-paginatio"></div>
        </div>
    </div>

    <div class="peijian">
        <h3 class="text-center">配件</h3>
        <div class="peijian-1" v-for="pei in peijian">
            <img :src="pei.img1" alt="">
            <h4 v-html="pei.h4"></h4>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row back-1">
            <div class="col-xs-8">
                <p>24小时全国服务热线</p>
                <span>400-788-3333</span>
            </div>
            <div class="col-xs-4">
                <a class="btn btn-default btn1 navbar-right" href="#" role="button"><i></i>在线客服</a>
            </div>
        </div>
    </div>
    <!-- Single button -->
    <div class="btn-group" v-for="foot1 in footer1">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{foot1.btn1}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">{{foot1.li1}}</a></li>
            <li><a href="#">{{foot1.li2}}</a></li>
            <li><a href="#">{{foot1.li3}}</a></li>
            <li><a href="#">{{foot1.li4}}</a></li>
        </ul>
    </div>

    <div class="yuyan">
        <a href="">电脑版</a>
        <a href="">法律声明</a>
        <div class="btn-group dropup" v-for="foot2 in footer2">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i></i><span>{{foot2.span1}}</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li v-for="foot2 in footer2"><i></i>{{foot2.li1}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li2}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li3}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li4}}</li>
                <li v-for="foot2 in footer2"><i></i>{{foot2.li5}}</li>
            </ul>
        </div>
    </div>
    <p class="text">粤ICP备13003602号-2合字B2-20170010营业执照©2017 MeizuAll rights reserved</p>
</footer>

<div class="dingbu">
    <img src="img/dingbu.png" alt="">
</div>

<!-- JavaScript -->
<script src="//cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/4.0.7/js/swiper.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>